/* outs/design - I like this color; use somwhere else as complementary color: // .style("fill", "ff8350") */

body {
  font-family: "Open Sans", sans-serif;
}

#logo {
  height: 50px;
  padding: 10px;
}

#logoText {
  font-size: 25px;
}

.navbar-brand {
  height: 60px;
  padding: 5px 0px;
}

.navbar {
  background-color: transparent;
}

.nav-item {
  margin-right: 100px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
